/* Remove margin and padding */

ul {
    margin: 0;
    padding: 0;
}

/* Create a nice style :D */

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

/* Add a detail for odd list items */

ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Use a darker background when hover */

ul li:hover {
    background: #ddd;
}

/* Now we style the header */

#hdr-div {
    background-color: #900C3F;
    padding: 30px 40px;
    color: white;
    text-align: center;
    padding-bottom: 5em;
}

/* Style the input */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style to the buttons */

span {
    padding: 10px;
    width: 5em;
    margin-left: 2em;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#add-btn {
    background: #97EC6B;
}

#rm-btn {
    background: #C70039;
}

/* And a little hover detail*/

span:hover {
    background-color: #bbb;
}
