h1, h2, h3, h4, h5{
    color: #6a2c30; 
}

p{
    font-size: 16px;
    text-align: justify;
}

#navbar{
    background-color: #581223;
}

#navbar > a{
    color: white;
}

.form-center{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
}

input[type=submit]{
    background-color: #581223;
    color: white;
}