h1, h2, h3, h4, h5{
    color: #6a2c30; 
}

h1{
    text-align: center;
}

p{
    font-size: 16px;
    text-align: justify;
}

#restaurant-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 8px;
}

#navbar{
    background-color: #581223;
}

#navbar > a{
    color: white;
}