#chr-div {
    width: 50%;
    margin: 30px auto;
    color: #fff;
    text-align:center;
    background: #ffa600;
}

#hours, #mins, #secs, div>p {
    font-size:50px;
}

button{
    border-radius: 5px;
    background: #ffa600;
    color #fff;
    border: solid 1px #fff;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width: 5em;
    margin: 10px;
}
