h1 {
    color: blueviolet;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div {
    background-color:yellow;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}
.bloque {
    display: inline;
    background-color: purple;
    margin-right: 5px;
    border: 1px solid black;
}
.bloque-v {
    background-color: green;
    margin-bottom: 5px;
    border: 1px solid black;
}

