h1 {
    text-align: center;
    color: blue;
}

#my_table {
    border-collapse:collapse;
    border: none;
}

#my_table td,#my_table th{
    border: 1px solid;
    padding:5px;
    text-align: center;
}

#boton{
    border-radius: 5px;
    background: blue;
    color: #fff;
}